<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="box">

                    <button ui-sref="base.login">Login</button>

                    <h2 class="title">
                        Sabores
                    </h2>
                    <ul>


                    </ul>
                </div>
            </div>
            <div class="col-sm-8">

            </div>
        </div>

        <div class="error" ng-if="error.show">
            {{ error.message }}
        </div>

        <div class="step1" ng-if="steps[0]" ng-class="{ active : steps[0] }">
            <h1>¡Hacé tu pedido en 3 simples pasos!</h1>
            <h2>1. Elegí el paquete que mas te guste.</h2>
            <div class="package-list">
                <div class="row">
                    <div class="package col-sm-4 text-center" ng-repeat="package in packages" ng-click="selectPackage(package)">
                        <h3>{{ package.description }} - $ {{ package.price }}</h3>
                        <div class="img">
                            <img src="{{ package.image }}" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="step2" ng-if="steps[1]" ng-class="{ active : steps[1] }">
            <h2>2. Elegí tus sabores preferidos</h2>
            <div class="flavour-selector" ng-if="package.customizable">
                    <span ng-if="product.flavours.length == 1">
                            Sabor
                        </span>
                        <span ng-if="product.flavours.length > 1">
                            Sabores
                        </span>
                </h3>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Descripción" aria-describedby="sizing-addon1" ng-model="search.description" ng-change="search(search.description)">
                            <div class="search-list">
                                <div ng-repeat="flavour in search.results" class="search-item" ng-click="addElement(flavour)">
                                    <img src="{{ flavour.image }}" class="img-responsive pull-left w50p">
                                    <span>{{ flavour.description }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group input-group-lg w100">
                            <select class="form-control "
                                    ng-options="category.description for category in categories"
                                    ng-model="filter.category">
                            </select>
                        </div>
                    </div>
                </div>



                <table st-table="flavours" class="table">
                    <thead>
                    <tr>
                        <td class="w10"></td>
                        <td class="w60">Sabor</td>
                        <td class="w30">Eliminar</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="flavour in newProduct.flavours">
                        <td> <img src="{{ flavour.image }}"  class="w50p image-responsive"></td>
                        <td> {{ flavour.description }}</td>
                        <td>
                            <i ng-click="deleteFlavour($index)" class="fa fa-times"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h3 ng-class="{ disabled : newProduct.isCustom }">..o elegí una de nuestras promociones </h3>

            </div>

            <div class="products-list" ng-class="{ disabled : newProduct.isCustom }">
                <div class="row">
                    <div class="col-sm-3 product" ng-repeat="product in package.products" ng-click="selectProduct(product)" ng-class="{active : product.active}">
                        <h4>{{ product.description }}</h4>
                        <img src="{{ product.image }}" class="img-responsive">

                        <span ng-if="product.flavours.length == 1">
                            Sabor
                        </span>
                        <span ng-if="product.flavours.length > 1">
                            Sabores
                        </span>
                        <span ng-repeat="flavour in product.flavours">
                            {{ flavour.description }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="step3" ng-if="steps[2]">

            <h3>Carrito</h3>
            <table st-table="flavours" class="table">
                <thead>
                <tr>
                    <td class="w20">Producto</td>
                    <td class="w20">Personalizado</td>
                    <td class="w50">Sabores</td>
                    <td class="w10">Cantidad</td>
                    <td class="w10">Costo</td>
                    <td class="w10">Eliminar</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in cart.products">
                    <td> {{ product.description }} </td>
                    <td ng-if="product.isCustom"><i class="fa fa-check"></i></td>
                    <td ng-if="!product.isCustom"><i class="fa fa-times"></i></td>
                    <td> <span ng-repeat="flavour in product.flavours">{{ flavour.description }} - </span> </td>
                    <td> <input type="text" ng-model="product.quantity"> </td>
                    <td> {{ product.price*product.quantity }} </td>
                    <td>
                        <i ng-click="deleteProduct($index)" class="fa fa-times"></i>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td>Total</td>
                    <td>$ {{ cart.total }}</td>
                    <td><i ng-click="refreshPrice()" class="fa fa-refresh"></i></td>
                </tr>
                </tbody>
            </table>

            <h2>3. Completa con los datos de la entrega</h2>

            <form ng-submit="endBuy(clientForm)" name="clientForm">
                <div class="row">
                    <div class="col-sm-6">
                        <input required type="text" placeholder="Nombre" ng-model="cart.client.firstName">
                        <input required type="text" placeholder="Teléfono" ng-model="cart.client.telephone">
                    </div>
                    <div class="col-sm-6">
                        <input required type="text" placeholder="Apellido" ng-model="cart.client.lastName">
                        <input required type="email" placeholder="Email" ng-model="cart.client.mail">
                    </div>
                    <div class="col-sm-12">
                        <input required type="text" placeholder="Dirección" ng-model="cart.client.address">
                    </div>
                    <div class="col-sm-12 text-center">
                        <input type="submit" class="btn" value="Finalizar compra">
                    </div>
                </div>
            </form>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <button ng-if="!steps[0]" class="btn" ng-click="back()"> < Atrás</button>
                <button ng-if="cart.products.length != 0" class="btn pull-right cart" ng-click="gotoCart()"> <i class="fa fa-shopping-cart"></i></button>
                <button ng-if="steps[1]" class="btn pull-right" ng-click="buy()"> Comprar > </button>
            </div>
        </div>

    </div>
</section>