<ul rn-carousel rn-carousel-disable-touch rn-carousel-controls rn-carousel-auto-slide class="carousel">
    <li class="layer" ng-repeat="slide in slides">
        <img src="{{ slide.image }}" alt="">
    </li>
</ul>
<section class="home">
    <div class="container-fluid servicios">
        <div class="container">
            <div class="row">
                <h2>¡Realizá tu pedido en tres simples pasos!</h2>
                <div class="col-sm-4">
                    <div class="item" ng-mouseenter="step1 = true" ng-mouseleave="step1 = false">
                        <img src="/images/steps/1.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="item" ng-mouseenter="step2 = true" ng-mouseleave="step2 = false">
                        <img src="/images/steps/2.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-4" ng-mouseenter="step3 = true" ng-mouseleave="step3 = false">
                    <div class="item">
                        <img src="/images/steps/3.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="text" ng-show="step1">
                        Buscá el helado que mas te gusta
                    </div>
                    <div class="text" ng-show="step2">
                        Elegí tus gustos favoritos
                    </div>
                    <div class="text" ng-show="step3">
                        Completá tus datos y ¡disfrutá de un trampolín de sabores!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
