.servicios
  background-color: #ecf0f1
  min-height: 600px
  h2
    font-size: 40px
    color: #666666
    text-align: center
    padding: 15px 0px 50px
  .item
    border-radius: 50%
    overflow: hidden
    margin: 0px auto
    width: 80%
    cursor: pointer

    img
      transform: scale(1.00)

    &:hover
      border: 5px solid $color-primary
      img
        transform:scale(1.50)       

  .text
    text-align: center
    color: #666666
    font-size: 20px 
    padding: 30px 0px
