
<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Categorías</span>
  </div>
</md-toolbar>

<md-table-container>
  <table md-table>
    <thead md-head>
      <tr md-row>
      <th md-column md-order-by="nameToLower"><span>Nombre</span></th>
        <th md-column md-order-by="nameToLower"><span>Descripción</span></th>
        <th md-column class="actions">Acciones</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr ng-repeat="category in categories">
        <td md-cell>{{ category.name }}</td>
        <td md-cell>{{ category.description }}</td>
        <td md-cell layout-align="center" class="actions">
            <i ui-sref="admin.editcategories({id: category.id})" class="fa fa-pencil-square-o"></i>
            <i ng-click="deleteCategory($event, category, $index)" class="fa fa-trash"></i>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<div layout="column" layout-align="center end">
    <md-button ui-sref="admin.editcategories({id:'new'})" ng-if="userRole == 'MANAGER'" class="table-action">Agregar categoría</md-button>
</div>
