<md-content>
<br>
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
      <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
    </md-button>
    <h2>
      <span>Toolbar with Disabled/Enabled Icon Buttons</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>
<br>
<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button aria-label="Go Back">
      Go Back
    </md-button>
    <h2>
      <span>Toolbar with Standard Buttons</span>
    </h2>
    <span flex></span>
    <md-button class="md-raised" aria-label="Learn More">
      Learn More
    </md-button>
    <md-button class="md-fab md-mini" aria-label="Favorite">
      <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>
<br>
<md-toolbar class="md-tall md-accent">
  <h2 class="md-toolbar-tools">
    <span>Toolbar: tall (md-accent)</span>
  </h2>
</md-toolbar>
<br>
<md-toolbar class="md-tall md-warn md-hue-3">
  <span flex></span>
  <h2 class="md-toolbar-tools">
    <span class="md-flex">Toolbar: tall with actions pin to the bottom (md-warn md-hue-3)</span>
  </h2>
</md-toolbar>
</md-content>
