<div class="file-upload">
    <div layout="row">
        <div flex="75" layout="row" layout-align="start center">
            <div class="file-name">
                Archivo: {{vm.fileupload}}
            </div>
            <input type="file" nv-file-select="" uploader="vm.uploader" style="display: none"/ id="file-uploader"><br/>
        </div>
        <div flex="25">
            <md-button onclick="document.getElementById('file-uploader').click()">Seleccionar imágen</md-button>
        </div>
    </div>
    <div class="preview" layout="column">
        <div>
            <h4>Preview</h4>
            <img ng-src="{{vm.imagePath}}">
        </div>
    </div>
</div>
