<div class="catalog container">
	<md-grid-list
          md-cols="3"
          md-row-height="400px"
          md-gutter="10px">
      <md-grid-tile ng-repeat="product in products"
                    md-rowspan="1"
                    md-colspan="1">
					<md-card>
				           <img ng-src="{{product.image}}" class="md-card-image" alt="{{product.name}}">
						   <md-card-title>
				             <md-card-title-text>
				               <span class="md-headline">{{product.name}} - $ {{product.price}}</span>
				             </md-card-title-text>
				           </md-card-title>
				           <md-card-actions layout="row" layout-align="end center">
				             <md-button aria-label="Sabores Máximos">
				               <i class="fa fa-check"></i> {{product.maxFlavours}} Sabores máximos
				             </md-button>
							 <md-button class="md-primary" aria-label="Comprar" ui-sref="base.shop.item({id:product.id})">
							   <i class="fa fa-shopping-cart"></i> Comprar
							 </md-button>
				           </md-card-actions>
			         </md-card>
      </md-grid-tile>
    </md-grid-list>
</div>
