
<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Sabores</span>
  </div>
</md-toolbar>

<md-table-container>
  <table md-table>
    <thead md-head>
      <tr md-row>
        <th md-column><span>Nombre</span></th>
        <th md-column><span>Descripción</span></th>
        <th md-column><span>Categoría</span></th>
        <th md-column class="actions">Acciones</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr ng-repeat="flavour in flavours">
        <td md-cell>{{ flavour.name }}</td>
        <td md-cell>{{ flavour.description }}</td>
        <td md-cell>{{ flavour.flavourCategory.name }}</td>
        <td md-cell layout-align="center" class="actions">
            <i ui-sref="admin.editflavours({id: flavour.id})" class="fa fa-pencil-square-o"></i>
            <i ng-if="userRole == 'MANAGER'" ng-click="deleteFlavour($event, flavour, $index)" class="fa fa-trash"></i>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<div layout="column" layout-align="center end" ng-if="role == 'MANAGER'">
    <md-button ui-sref="admin.editflavours({id:'new'})" ng-if="userRole == 'MANAGER'" class="table-action">Agregar sabor</md-button>
</div>
