<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>{{action}} producto</span>
  </div>
</md-toolbar>
<form name="editProductForm" class="abm-form">
    <md-input-container layout="column" ng-if="role == 'MANAGER'">
      <label>Nombre</label>
      <input name="name" ng-model="product.name" required md-maxlength="{{maxlenght.name}}" ng-maxlength="{{maxlenght.name}}" ng-minlength="{{minlenght.name}}">
      <div ng-messages="editProductForm.name.$error" ng-show="editProductForm.name.$dirty">
        <div ng-show="editProductForm.name.$error.required" ng-message="required">{{messages.required}}</div>
        <div ng-show="editProductForm.name.$error.maxlength" ng-message="md-maxlength">{{messages.tooLong}}</div>
        <div ng-show="editProductForm.name.$error.minlength" ng-message="minlength">{{messages.tooShort}}</div>
      </div>
    </md-input-container>
    <md-input-container layout="column" ng-if="role == 'MANAGER'">
      <label>Descripción</label>
      <textarea name="description" ng-model="product.description" required
      md-maxlength="{{maxlenght.description}}"
      ng-maxlength="{{maxlenght.description}}"
      ng-minlength="{{minlenght.description}}"></textarea>
      <div ng-messages="editProductForm.description.$error" ng-show="editProductForm.description.$dirty">
          <div ng-show="editProductForm.description.$error.required" ng-message="required">{{messages.required}}</div>
          <div ng-show="editProductForm.description.$error.maxlength" ng-message="md-maxlength">{{messages.tooLong}}</div>
          <div ng-show="editProductForm.description.$error.minlength" ng-message="minlength">{{messages.tooShort}}</div>
      </div>
    </md-input-container>
    <md-input-container layout="column" ng-if="role == 'MANAGER'">
      <label>Precio</label>
      <input name="price" type="number" ng-model="product.price" required
      min="0.01"
      max="10000000">
      <div ng-messages="editProductForm.price.$error" ng-show="editProductForm.price.$dirty">
          <div ng-show="editProductForm.price.$error.required" ng-message="required">{{messages.required}}</div>
          <div ng-show="editProductForm.price.$error.min" ng-message="min">El mínimo es 0.01</div>
          <div ng-show="editProductForm.price.$error.max" ng-message="max">El máximo es 10000000</div>
      </div>
    </md-input-container>
    <md-input-container layout="column">
      <label>Stock</label>
      <input name="stock" type="number" ng-model="product.stock" required
      min="0"
      max="10000000">
      <div ng-messages="editProductForm.stock.$error" ng-show="editProductForm.stock.$dirty">
          <div ng-show="editProductForm.stock.$error.required" ng-message="required">{{messages.required}}</div>
          <div ng-show="editProductForm.stock.$error.min" ng-message="min">El mínimo es 0</div>
          <div ng-show="editProductForm.stock.$error.max" ng-message="max">El máximo es 10000000</div>
      </div>
    </md-input-container>
    <md-input-container layout="column" ng-if="role == 'MANAGER'">
      <label>Presentación</label>
      <md-select ng-model="product.presentation">
        <md-option ng-repeat="presentation in presentations" ng-value="presentation">
          {{presentation.name}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container layout="column" ng-if="role == 'MANAGER'">
        <search-flavour max-flavours="{{product.presentation.maxFlavours}}" flavours="product.flavours"></search-flavour>
    </md-input-container>
    <md-list layout="column" ng-if="role == 'MANAGER'">
      <h4>Sabores</h4>
      <md-list-item ng-repeat="flavour in product.flavours">
        <div class="md-list-item-text">
          <p>{{flavour.name}}</p>
        </div>
        <md-button class="md-secondary md-icon-button" ng-click="removeFlavour($index)" aria-label="Remove Flavour">
          <i class="fa fa-times"></i>
        </md-button>
      </md-list-item>
    </md-list>
    <md-input-container layout="column" ng-if="role == 'MANAGER'">
        <file-upload image-path="product.image"></file-upload>
    </md-input-container>
    <div class="abm-action" layout="column" layout-align="center end">
        <md-button ng-click="saveProduct()" class="table-action">{{action}}</md-button>
    </div>
</form>
