<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>{{action}} sabor</span>
  </div>
</md-toolbar>
<form name="editFlavourForm" class="abm-form">
    <md-input-container layout="column"  ng-if="role == 'MANAGER'">
      <label>Nombre</label>
      <input name="name" ng-model="flavour.name" required md-maxlength="{{maxlenght.name}}" ng-maxlength="{{maxlenght.name}}" ng-minlength="{{minlenght.name}}">
      <div ng-messages="editFlavourForm.name.$error" ng-show="editFlavourForm.name.$dirty">
        <div ng-show="editFlavourForm.name.$error.required" ng-message="required">{{messages.required}}</div>
        <div ng-show="editFlavourForm.name.$error.maxlength" ng-message="md-maxlength">{{messages.tooLong}}</div>
        <div ng-show="editFlavourForm.name.$error.minlength" ng-message="minlength">{{messages.tooShort}}</div>
      </div>
    </md-input-container>
    <md-input-container layout="column"  ng-if="role == 'MANAGER'">
      <label>Descripción</label>
      <textarea name="description" ng-model="flavour.description" required
      md-maxlength="{{maxlenght.description}}"
      ng-maxlength="{{maxlenght.description}}"
      ng-minlength="{{minlenght.description}}"></textarea>
      <div ng-messages="editFlavourForm.description.$error" ng-show="editFlavourForm.description.$dirty">
          <div ng-show="editFlavourForm.description.$error.required" ng-message="required">{{messages.required}}</div>
          <div ng-show="editFlavourForm.description.$error.maxlength" ng-message="md-maxlength">{{messages.tooLong}}</div>
          <div ng-show="editFlavourForm.description.$error.minlength" ng-message="minlength">{{messages.tooShort}}</div>
      </div>
    </md-input-container>
    <md-input-container layout="column"  ng-if="role == 'MANAGER'">
      <label>Categoría</label>
      <md-select ng-model="flavour.flavourCategory.id">
        <md-option ng-repeat="category in categories" value="{{category.id}}">
          {{category.name}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container layout="column">
      <label>Stock en kilos</label>
      <input name="stock" type="number" ng-model="flavour.stock" required
      min="0.01"
      max="10000000">
      <div ng-messages="editFlavourForm.stock.$error" ng-show="editFlavourForm.stock.$dirty">
          <div ng-show="editFlavourForm.stock.$error.required" ng-message="required">{{messages.required}}</div>
          <div ng-show="editFlavourForm.stock.$error.min" ng-message="min">El mínimo es 0.01</div>
          <div ng-show="editFlavourForm.stock.$error.max" ng-message="max">El máximo es 10000000</div>
      </div>
    </md-input-container>
    <md-input-container layout="column"  ng-if="role == 'MANAGER'">
        <file-upload image-path="flavour.image"></file-upload>
    </md-input-container>
    <div class="abm-action" layout="column" layout-align="center end">
        <md-button ng-click="saveFlavour()" class="table-action">{{action}}</md-button>
    </div>
</form>
