<div class="shop-item container">
    <div class="item md-whiteframe-1dp product-info">
        <md-toolbar flex="100">
          <div class="md-toolbar-tools product-name">
            <h3>
              <span>{{presentation.name}}</span>
            </h3>
          </div>
        </md-toolbar>
        <div layout="row">
            <div flex="60" class="product-presentation">
                <p>
                    {{presentation.description}}
                </p>
            </div>
            <div flex="40">
                <img src="{{presentation.image}}" alt="{{presentation.name}}" class="img-responsive"/>
            </div>
        </div>
    </div>
    <div class="product-list" ng-if="presentation.products.length > 0">
        <md-toolbar flex="100">
          <div class="md-toolbar-tools">
            <h3>
              <span>¡Ofertas!</span>
            </h3>
          </div>
        </md-toolbar>
        <md-grid-list
              md-cols="3"
              md-row-height="550px"
              md-gutter="20px">
        <md-grid-tile ng-repeat="product in presentation.products | filter: {isCustom: false}"
                      md-rowspan="1"
                      md-colspan="1">
                    <md-card>
                           <img ng-src="{{product.image}}" class="md-card-image" alt="{{product.name}}">
                           <md-card-title>
                             <md-card-title-text>
                               <span class="md-headline">{{product.name}} - $ {{product.price}}</span>
                             </md-card-title-text>
                           </md-card-title>
                           <p>
                               {{product.description}}
                           </p>
                           <md-card-actions layout="row" layout-align="end center">
                             <md-button ng-class="{'no-stock': (product.stock == 0)}" class="md-primary" aria-label="Comprar" ng-click="addToCart(product)">
                               <span ng-if="product.stock > 0"><i class="fa fa-shopping-cart"></i> Comprar</span>
                               <span ng-if="product.stock == 0">Sin Stock</span>
                             </md-button>
                           </md-card-actions>
                     </md-card>
        </md-grid-tile>
      </md-grid-list>
    </div>
    <div class="empty-presentation" ng-if="presentation.products.length == 0 && !presentacion.isCustomizable">
        NO HAY PRODUCTOS DISPONIBLES
    </div>
    <div class="custom-product flavours" ng-if="presentation.isCustomizable">
        <md-toolbar flex="100">
          <div class="md-toolbar-tools">
            <h3>
              <span>¡Elegí tus sabores favoritos!</span>
            </h3>
          </div>
        </md-toolbar>
        <md-chips ng-model="selectedFlavours" md-require-match="true" readonly="true">
            <md-chip-template>
              <strong>{{$chip.name}}</strong>
              <md-icon md-svg-icon="md-close" aria-hidden="true" ng-click="removeFlavour($index)">
                  <svg version="1.1" x="0px" y="0px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false"><g><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"></path></g></svg>
              </md-icon>
            </md-chip-template>
        </md-chips>
        <md-input-container layout="column">
            <search-flavour max-flavours="{{presentation.maxFlavours}}" flavours="selectedFlavours"></search-flavour>
        </md-input-container>
        <md-button class="md-primary buy-button" aria-label="Comprar" ng-click="addToCart(null)" ng-if="selectedFlavours.length > 0">
          <i class="fa fa-shopping-cart"></i> Comprar
        </md-button>
    </div>
</div>
