.shop-item
    .product-info
        margin: 35px 0px
        .product-presentation
            padding: 15px
            font-size: 16px
    .product-list
        margin: 35px 0px
        md-card
            md-card-title
                padding: 24px 16px 75px
            p
                padding: 10px
                min-height: 120px
        button.no-stock
            background-color: #F44336
            &:hover
                background-color: #F44336
    .custom-product
        margin: 35px 0px 200px
        .buy-button
            margin: 0 auto
            display: block
            width: 30%
            padding: 10px
            font-size: 20px
