<div class="checkout container">
    <div class="error-lists" ng-if="errorList.length > 0">
        <div class="error" ng-repeat="error in errorList">
            <p>
                {{error.message}}
            </p>
        </div>
    </div>
    <div class="cart-list" ng-if="cart.length > 0">
        <md-table-container>
          <table md-table class="cart-table">
            <thead md-head>
              <tr md-row>
                <th md-column><span>Nombre</span></th>
                <th md-column><span>Sabores</span></th>
                <th md-column class="text-center"><span>Cantidad</span></th>
                <th md-column class="text-center"><span>Subtotal</span></th>
                <th md-column class="text-center"><span>Total</span></th>
                <th md-column class="actions"></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr ng-repeat="item in cart">
                <td md-cell class="w30">{{ item.product.name }}</td>
                <td md-cell class="w30">
                    <span ng-repeat="flavour in item.product.flavours">
                        {{flavour.name}} <span ng-if="!$last">, </span>
                    </span>
                </td>
                <td md-cell class="number w10" >{{ item.quantity }}</td>
                <td md-cell class="number w10">$ {{ item.product.price }}</td>
                <td md-cell class="number w10">$ {{ item.product.price*item.quantity }}</td>
                <td md-cell layout-align="center" class="actions w10 number">
                    <i ng-click="deleteProduct($index)" class="fa fa-times"></i>
                </td>
              </tr>
              <tr>
                  <td md-cell colspan="5" class="total-label">
                        TOTAL
                  </td>
                  <td md-cell class="total-number">
                        $ {{total}}
                  </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-button class="md-primary checkout-button"
        aria-label="Continuar" ng-click="showClientForm()" ng-if="errorList.length == 0 && !clientForm">
          Continuar
        </md-button>
        <div class="client-form" ng-show="clientForm">
            <h3>DATOS PERSONALES</h3>
            <form name="newClientForm" class="abm-form">
                <md-input-container layout="column">
                  <label>Nombre</label>
                  <input name="name" ng-model="client.name" required md-maxlength="50" ng-maxlength="50" ng-minlength="8">
                  <div ng-messages="newClientForm.name.$error" ng-show="newClientForm.name.$dirty">
                    <div ng-show="newClientForm.name.$error.required" ng-message="required">{{messages.required}}</div>
                    <div ng-show="newClientForm.name.$error.maxlength" ng-message="md-maxlength">{{messages.tooLong}}</div>
                    <div ng-show="newClientForm.name.$error.minlength" ng-message="minlength">{{messages.tooShort}}</div>
                  </div>
                </md-input-container>
                <md-input-container layout="column">
                  <label>DNI</label>
                  <input name="dni" ng-model="client.dni" required ng-maxlength="8" ng-minlength="7" type="number">
                  <div ng-messages="newClientForm.dni.$error" ng-show="newClientForm.dni.$dirty">
                    <div ng-show="newClientForm.dni.$error.required" ng-message="required">{{messages.required}}</div>
                    <div ng-show="newClientForm.dni.$error.maxlength" ng-message="ng-maxlength">{{messages.tooLong}}</div>
                    <div ng-show="newClientForm.dni.$error.minlength" ng-message="minlength">{{messages.tooShort}}</div>
                  </div>
                </md-input-container>
                <md-input-container layout="column">
                  <label>Dirección</label>
                  <input name="address" ng-model="client.address" required md-maxlength="100" ng-maxlength="100" ng-minlength="10">
                  <div ng-messages="newClientForm.address.$error" ng-show="newClientForm.address.$dirty">
                    <div ng-show="newClientForm.address.$error.required" ng-message="required">{{messages.required}}</div>
                    <div ng-show="newClientForm.address.$error.maxlength" ng-message="md-maxlength">{{messages.tooLong}}</div>
                    <div ng-show="newClientForm.address.$error.minlength" ng-message="minlength">{{messages.tooShort}}</div>
                  </div>
                </md-input-container>
                <md-input-container layout="column">
                  <label>Teléfono</label>
                  <input name="phone" ng-model="client.phone" required md-maxlength="30" ng-maxlength="30" ng-minlength="7">
                  <div ng-messages="newClientForm.phone.$error" ng-show="newClientForm.phone.$dirty">
                    <div ng-show="newClientForm.phone.$error.required" ng-message="required">{{messages.required}}</div>
                    <div ng-show="newClientForm.phone.$error.maxlength" ng-message="md-maxlength">{{messages.tooLong}}</div>
                    <div ng-show="newClientForm.phone.$error.minlength" ng-message="minlength">{{messages.tooShort}}</div>
                  </div>
                </md-input-container>
                <md-input-container layout="column">
                  <label>Email</label>
                  <input name="email" ng-model="client.email" required md-maxlength="50" ng-maxlength="50" type="email">
                  <div ng-messages="newClientForm.email.$error" ng-show="newClientForm.email.$dirty">
                    <div ng-show="newClientForm.email.$error.required" ng-message="required">{{messages.required}}</div>
                    <div ng-show="newClientForm.email.$error.maxlength" ng-message="ng-maxlength">{{messages.tooLong}}</div>
                    <div ng-show="newClientForm.email.$error.minlength" ng-message="minlength">{{messages.tooShort}}</div>
                  </div>
                </md-input-container>
                <md-button class="md-primary checkout-button" aria-label="Finalizar compra" ng-click="checkout()" ng-if="!newClientForm.$invalid">
                  <i class="fa fa-shopping-cart"></i> Comprar
                </md-button>
            </form>
        </div>
    </div>

    <div class="empty-cart" ng-if="success == false && (cart.length == undefined || cart.length == 0)">
        No hay productos
    </div>

    <div class="success-buy" ng-if="success == true">
        <h2>¡Muchas gracias por tu compra!</h2>
        <img src="/images/steps/3.jpg" alt="" class="img-responsive">
        <p>
            Tu pedido está en camino, ante cualquier duda consultanos a <a href="mailto:ventas@bochelin.com">ventas@bochelin.com</a>. Que disfrutes!
        </p>
    </div>

</div>
