.checkout
    .cart-list
        margin-top: 20px
        .cart-table
            th
                background-color: $color-primary
                padding: 0px 12px
                font-size: 16px
                text-transform: uppercase
                color: white
            td
                font-size: 16px
                padding: 10px 0px
                &.number
                    text-align: center
                    font-weight: bold
                &.total-label
                    text-align: right
                    font-size: 20px
                    font-weight: bold
                &.total-number
                    text-align: center
                    font-size: 20px
                    font-weight: bold
                    color: #F44336
    .checkout-button
        margin: 0 auto
        display: block
        width: 30%
        padding: 10px
        font-size: 20px
    .empty-cart
        font-size: 30px
        margin: 50px
        text-align: center
        text-transform: uppercase
    .client-form
        text-align: center
        margin-bottom: 50px
        h3
            font-size: 30px
            border-bottom: 1px solid $color-primary
            padding-bottom: 10px
        .abm-form
            margin: 40px auto 0
    .success-buy
        text-align: center
        margin: 100px 0px
        color: #333
        img
            width: 150px
            border-radius: 50%
            margin: 50px auto
        a
            color: #333
