
<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Presentaciones</span>
  </div>
</md-toolbar>

<md-table-container>
  <table md-table>
    <thead md-head>
      <tr md-row>
        <th md-column><span>Nombre</span></th>
        <th md-column><span>Descripción</span></th>
        <th md-column><span>Sabores Máximos</span></th>
        <th md-column class="actions">Acciones</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr ng-repeat="presentation in presentations">
        <td md-cell>{{ presentation.name }}</td>
        <td md-cell>{{ presentation.description }}</td>
        <td md-cell>{{ presentation.maxFlavours }}</td>
        <td md-cell layout-align="center" class="actions">
            <i ui-sref="admin.editpresentations({id: presentation.id})" class="fa fa-pencil-square-o"></i>
            <i ng-click="deletePresentation($event, presentation, $index)" class="fa fa-trash"></i>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<div layout="column" layout-align="center end">
    <md-button ui-sref="admin.editpresentations({id:'new'})" ng-if="userRole == 'MANAGER'" class="table-action">Agregar presentación</md-button>
</div>
