<div class="reports">
    <h2>Reportes mensuales</h2>
    <md-input-container layout="column">
      <label>Mes</label>
      <md-select ng-change="getReport()" ng-model="selectedMonth">
        <md-option ng-repeat="month in months" value="{{month.number}}">
          {{month.name}}
        </md-option>
      </md-select>
    </md-input-container>
    <div class="report" ng-if="report != null">
        <h3>Ventas totales del mes: $ {{report.total}}</h3>
        <h4>Detalle por día</h4>
        <div class="daily-sell" ng-repeat="dailySell in report.dailySellList">
            <div class="daily-sell-detail">
                <b>DÍA:</b> {{dailySell.sellDate | date : format : timezone }}
            </div>
            <div class="daily-sell-detail">
                <b>CANTIDAD:</b> $ {{dailySell.quantity}}
            </div>
            <div class="daily-sell-detail">
                <b>PRODUCTOS:</b> {{dailySell.productTotal}}
            </div>
            <div class="daily-sell-detail">
                <b>PRODUCTOS PERSONALIZADOS:</b> {{dailySell.dailyCustomProductSellList.length}}
            </div>
        </div>
    </div>
</div>
