<md-content>
    <md-toolbar class="md-hue-2" layout="column">
      <div class="md-toolbar-tools">
        <h2>
          <span>Bochelin Helados</span>
        </h2>
        <md-button layout-align="end" ng-click="logout()">
          Salir
        </md-button>
      </div>
    </md-toolbar>
</md-content>
