
<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Productos</span>
  </div>
</md-toolbar>

<md-table-container>
  <table md-table>
    <thead md-head>
      <tr md-row>
        <th md-column><span>Nombre</span></th>
        <th md-column><span>Descripción</span></th>
        <th md-column><span>Precio</span></th>
        <th md-column><span>Stock</span></th>
        <th md-column><span>Personalizable</span></th>
        <th md-column class="actions">Acciones</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr ng-repeat="product in products">
        <td md-cell>{{ product.name }}</td>
        <td md-cell>{{ product.description }}</td>
        <td md-cell>{{ product.price }}</td>
        <td md-cell>{{ product.stock }}</td>
        <td md-cell>
            <i ng-if="product.isCustomizable" class="fa fa-check"></i>
            <i ng-if="!product.isCustomizable" class="fa fa-times"></i>
        </td>
        <td md-cell layout-align="center" class="actions">
            <i ui-sref="admin.editproducts({id: product.id})" class="fa fa-pencil-square-o"></i>
            <i ng-if="userRole == 'MANAGER'" ng-click="deleteProduct($event, product, $index)" class="fa fa-trash"></i>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<div layout="column" layout-align="center end">
    <md-button ui-sref="admin.editproducts({id:'new'})" ng-if="userRole == 'MANAGER'" class="table-action">Agregar producto</md-button>
</div>
