<div layout="row">
    <div flex="75">
        <md-input-container layout="column">
          <label>Sabor</label>
          <input ng-model="vm.search.description" ng-change="vm.search(vm.search.description)">
          <div class="search-list">
              <div ng-repeat="flavour in vm.search.results" class="search-item" ng-if="!vm.isAdded(flavour)" ng-click="vm.addFlavour(flavour)">
                  {{ flavour.name }}
              </div>
          </div>
        </md-input-container>
    </div>
    <div flex="25">
        <md-input-container layout="column">
          <label>Categoría</label>
          <md-select ng-model="vm.filter.id">
            <md-option ng-repeat="category in vm.categories" value="{{category.id}}">
              {{category.name}}
            </md-option>
          </md-select>
        </md-input-container>
    </div>
</div>
