<div layout="column" style="height:90.2vh;" ng-cloak>
  <section layout="row" flex>
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="true"
        md-disable-backdrop
        md-whiteframe="2">
      <md-toolbar class="md-theme-indigo">
        <h2 class="md-toolbar-tools">Acciones</h2>
      </md-toolbar>
      <md-content>
          <md-list>
            <md-list-item class="md-2-line" ng-if="role == 'MANAGER'">
              <div ui-sref="admin.categories" class="md-list-item-text">
                <h3><i class="fa fa-chevron-right"></i> Categorías</h3>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text" ui-sref="admin.flavours" >
                <h3><i class="fa fa-chevron-right"></i> Sabores</h3>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-if="role == 'MANAGER'">
              <div class="md-list-item-text" ui-sref="admin.presentations">
                <h3><i class="fa fa-chevron-right"></i> Presentaciones</h3>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text" ui-sref="admin.products">
                <h3><i class="fa fa-chevron-right"></i> Productos</h3>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text" ui-sref="admin.reports">
                <h3><i class="fa fa-chevron-right"></i> Reportes</h3>
              </div>
            </md-list-item>
          </md-list>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column">
        <div ui-view="content"></div>
      </div>
    </md-content>
  </section>
</div>
