<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>{{action}} presentación</span>
  </div>
</md-toolbar>
<form name="editPresentationForm" class="abm-form">
    <md-input-container layout="column">
      <label>Nombre</label>
      <input name="name" ng-model="presentation.name" required md-maxlength="{{maxlenght.name}}" ng-maxlength="{{maxlenght.name}}" ng-minlength="{{minlenght.name}}">
      <div ng-messages="editPresentationForm.name.$error" ng-show="editPresentationForm.name.$dirty">
        <div ng-show="editPresentationForm.name.$error.required" ng-message="required">{{messages.required}}</div>
        <div ng-show="editPresentationForm.name.$error.maxlength" ng-message="md-maxlength">{{messages.tooLong}}</div>
        <div ng-show="editPresentationForm.name.$error.minlength" ng-message="minlength">{{messages.tooShort}}</div>
      </div>
    </md-input-container>
    <md-input-container layout="column">
      <label>Descripción</label>
      <textarea name="description" ng-model="presentation.description" required
      md-maxlength="{{maxlenght.description}}"
      ng-maxlength="{{maxlenght.description}}"
      ng-minlength="{{minlenght.description}}"></textarea>
      <div ng-messages="editPresentationForm.description.$error" ng-show="editPresentationForm.description.$dirty">
          <div ng-show="editPresentationForm.description.$error.required" ng-message="required">{{messages.required}}</div>
          <div ng-show="editPresentationForm.description.$error.maxlength" ng-message="md-maxlength">{{messages.tooLong}}</div>
          <div ng-show="editPresentationForm.description.$error.minlength" ng-message="minlength">{{messages.tooShort}}</div>
      </div>
    </md-input-container>
    <md-input-container layout="column">
      <label>Sabores Máximos</label>
      <input name="maxFlavours" type="number" ng-model="presentation.maxFlavours" required
      min="1"
      max="10">
      <div ng-messages="editPresentationForm.maxFlavours.$error" ng-show="editPresentationForm.maxFlavours.$dirty">
          <div ng-show="editPresentationForm.maxFlavours.$error.required" ng-message="required">{{messages.required}}</div>
          <div ng-show="editPresentationForm.maxFlavours.$error.min" ng-message="min">El mínimo es 1</div>
          <div ng-show="editPresentationForm.maxFlavours.$error.max" ng-message="max">El máximo es 10</div>
      </div>
    </md-input-container>
    <md-input-container layout="column">
      <label>Precio</label>
      <input name="price" type="number" ng-model="presentation.price" required
      min="0.01"
      max="10000000">
      <div ng-messages="editPresentationForm.price.$error" ng-show="editPresentationForm.price.$dirty">
          <div ng-show="editPresentationForm.price.$error.required" ng-message="required">{{messages.required}}</div>
          <div ng-show="editPresentationForm.price.$error.min" ng-message="min">El mínimo es 0.01</div>
          <div ng-show="editPresentationForm.price.$error.max" ng-message="max">El máximo es 10000000</div>
      </div>
    </md-input-container>
    <md-input-container layout="column">
      <label>Peso en Kilos</label>
      <input name="weight" type="number" ng-model="presentation.weight" required
      min="0.01"
      max="10000000">
      <div ng-messages="editPresentationForm.weight.$error" ng-show="editPresentationForm.weight.$dirty">
          <div ng-show="editPresentationForm.weight.$error.required" ng-message="required">{{messages.required}}</div>
          <div ng-show="editPresentationForm.weight.$error.min" ng-message="min">El mínimo es 0.01</div>
          <div ng-show="editPresentationForm.weight.$error.max" ng-message="max">El máximo es 10000000</div>
      </div>
    </md-input-container>

    <md-input-container layout="column">
        <md-checkbox ng-model="presentation.isCustomizable" aria-label="Personalizable">
          Personalizable
        </md-checkbox>
    </md-input-container>
    <md-input-container layout="column">
        <file-upload image-path="presentation.image"></file-upload>
    </md-input-container>
    <div class="abm-action" layout="column" layout-align="center end">
        <md-button ng-click="savePresentation()" class="table-action">{{action}}</md-button>
    </div>
</form>
