@import '../../app/variables'

.navbar
	background-color: $color-primary
	margin-bottom: 0px
	border-radius: 0px
	border: none
	line-height: 50px
	.logo
		font-size: 18px
		font-weight: bold
		color: white
	.menu 
		text-align: right
		ul
			list-style-type: none
			margin-bottom: 0px
			li
				display: inline-block
				padding: 0px 15px
				a
					color: white
					&:hover
						text-decoration: none
	