<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
        	<div class="col-sm-3 logo">Bochelin Helados</div>
        	<div class="col-sm-9 menu">
        		<ul>
        			<li>
        				<a ui-sref="base">Inicio</a>
        			</li>
        			<li>
        				<a ui-sref="base.shop">Compras</a>
        			</li>
                    <li>
        				<a ui-sref="base.checkout">Checkout</a>
        			</li>
        			<li>
        				<a ui-sref="base.login">Login</a>
        			</li>
        		</ul>
        	</div>
        </div>
    </div>
</nav>
