.navbar {
  background-color: #2c3e50;
  margin-bottom: 0px;
  border-radius: 0px;
  border: none;
  line-height: 50px; }
  .navbar .logo {
    font-size: 18px;
    font-weight: bold;
    color: white; }
  .navbar .menu {
    text-align: right; }
    .navbar .menu ul {
      list-style-type: none;
      margin-bottom: 0px; }
      .navbar .menu ul li {
        display: inline-block;
        padding: 0px 15px; }
        .navbar .menu ul li a {
          color: white; }
          .navbar .menu ul li a:hover {
            text-decoration: none; }

.carousel {
  height: 450px;
  margin-bottom: 0px; }

.rn-carousel-control {
  color: white;
  font-size: 50px; }

.backend {
  background-color: #19b698; }
  .backend h1 {
    margin: 30px 0px 45px;
    font-size: 32px;
    color: #ffffff; }

.admin-menu {
  height: 100vh;
  background-color: #2c3e50; }

.servicios {
  background-color: #ecf0f1;
  min-height: 600px; }
  .servicios h2 {
    font-size: 40px;
    color: #666666;
    text-align: center;
    padding: 15px 0px 50px; }
  .servicios .item {
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto;
    width: 80%;
    cursor: pointer; }
    .servicios .item img {
      transform: scale(1); }
    .servicios .item:hover {
      border: 5px solid #2c3e50; }
  .servicios .text {
    text-align: center;
    color: #666666;
    font-size: 20px;
    padding: 30px 0px; }

.login {
  margin: 100px auto 0;
  width: 60%; }

.title {
  background-image: url("images/slider/3.jpg");
  background-position: fixed;
  height: 200px; }

body {
  font-family: "Ubuntu", sans-serif; }

.box {
  box-shadow: 0px 0px 12px 1px rgba(50, 50, 50, 0.75); }
  .box .title {
    background-color: #2c3e50;
    color: #ffffff;
    font-size: 22px; }

.abm .input-group {
  margin: 15px 0px; }
.abm .custom {
  line-height: 43px;
  height: 43px;
  font-size: 18px; }
  .abm .custom input {
    margin-left: 10px; }
.abm .btn {
  border-radius: 0px;
  background-color: #2c3e50;
  color: #ffffff;
  padding: 15px 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border-color: #2c3e50;
  transition: 0.2s all; }
  .abm .btn:hover {
    background-color: #ffffff;
    color: #2c3e50; }

.table {
  table-layout: fixed; }
  .table thead {
    background: #2c3e50;
    color: #ffffff;
    font-weight: bold; }
  .table tbody tr.active {
    color: white; }
    .table tbody tr.active td {
      background-color: #2b81af; }
  .table tbody tr:nth-child(even) {
    background-color: #dddddd; }

.w30 {
  width: 30%; }

.w10 {
  width: 10%; }

.w70 {
  width: 70%; }

.w40 {
  width: 40%; }

.w20 {
  width: 20%; }

.w100 {
  width: 100%; }

.w50p {
  width: 50px; }

.w50 {
  width: 50%; }

.w60 {
  width: 60%; }

.m15 {
  margin: 15px 0px; }

.search-list {
  position: absolute;
  z-index: 2;
  top: 45px;
  left: 50px;
  background-color: white;
  width: 94%;
  border: 1px solid #ccc;
  border-width: 0px 1px 1px 1px; }
  .search-list .search-item {
    padding: 15px 10px;
    overflow: auto;
    line-height: 50px; }
    .search-list .search-item img {
      float: left; }
    .search-list .search-item span {
      float: left;
      padding-left: 10px; }
    .search-list .search-item:hover {
      background-color: #2b81af;
      color: white; }

.error {
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center; }

.md-sidenav-left md-list-item {
  cursor: pointer;
  transition: 0.2s background-color linear;
  background-color: white; }
  .md-sidenav-left md-list-item:hover {
    background-color: gray; }
