.navbar {
  background-color: #2c3e50;
  margin-bottom: 0px;
  border-radius: 0px;
  border: none;
  line-height: 50px; }
  .navbar .logo {
    font-size: 18px;
    font-weight: bold;
    color: white; }
  .navbar .menu {
    text-align: right; }
    .navbar .menu ul {
      list-style-type: none;
      margin-bottom: 0px; }
      .navbar .menu ul li {
        display: inline-block;
        padding: 0px 15px; }
        .navbar .menu ul li a {
          color: white; }
          .navbar .menu ul li a:hover {
            text-decoration: none; }

.carousel {
  height: 450px;
  margin-bottom: 0px; }

.rn-carousel-control {
  color: white;
  font-size: 50px; }

.backend {
  background-color: #19b698; }
  .backend h1 {
    margin: 30px 0px 45px;
    font-size: 32px;
    color: #ffffff; }

.admin-menu {
  height: 100vh;
  background-color: #2c3e50; }

.servicios {
  background-color: #ecf0f1;
  min-height: 600px; }
  .servicios h2 {
    font-size: 40px;
    color: #666666;
    text-align: center;
    padding: 15px 0px 50px; }
  .servicios .item {
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto;
    width: 80%;
    cursor: pointer; }
    .servicios .item img {
      transform: scale(1); }
    .servicios .item:hover {
      border: 5px solid #2c3e50; }
  .servicios .text {
    text-align: center;
    color: #666666;
    font-size: 20px;
    padding: 30px 0px; }

.login {
  margin: 100px auto 0;
  width: 60%; }
  .login .invalid-login {
    text-align: center; }

md-card md-card-title {
  padding: 24px 16px 52px;
  border-bottom: 1px solid #eeeeee; }

.checkout .cart-list {
  margin-top: 20px; }
  .checkout .cart-list .cart-table th {
    background-color: #2c3e50;
    padding: 0px 12px;
    font-size: 16px;
    text-transform: uppercase;
    color: white; }
  .checkout .cart-list .cart-table td {
    font-size: 16px;
    padding: 10px 0px; }
    .checkout .cart-list .cart-table td.number {
      text-align: center;
      font-weight: bold; }
    .checkout .cart-list .cart-table td.total-label {
      text-align: right;
      font-size: 20px;
      font-weight: bold; }
    .checkout .cart-list .cart-table td.total-number {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: #F44336; }
.checkout .checkout-button {
  margin: 0 auto;
  display: block;
  width: 30%;
  padding: 10px;
  font-size: 20px; }
.checkout .empty-cart {
  font-size: 30px;
  margin: 50px;
  text-align: center;
  text-transform: uppercase; }
.checkout .client-form {
  text-align: center;
  margin-bottom: 50px; }
  .checkout .client-form h3 {
    font-size: 30px;
    border-bottom: 1px solid #2c3e50;
    padding-bottom: 10px; }
  .checkout .client-form .abm-form {
    margin: 40px auto 0; }
.checkout .success-buy {
  text-align: center;
  margin: 100px 0px;
  color: #333; }
  .checkout .success-buy img {
    width: 150px;
    border-radius: 50%;
    margin: 50px auto; }
  .checkout .success-buy a {
    color: #333; }

.shop-item .product-info {
  margin: 35px 0px; }
  .shop-item .product-info .product-presentation {
    padding: 15px;
    font-size: 16px; }
.shop-item .product-list {
  margin: 35px 0px; }
  .shop-item .product-list md-card md-card-title {
    padding: 24px 16px 75px; }
  .shop-item .product-list md-card p {
    padding: 10px;
    min-height: 120px; }
  .shop-item .product-list button.no-stock {
    background-color: #F44336; }
    .shop-item .product-list button.no-stock:hover {
      background-color: #F44336; }
.shop-item .custom-product {
  margin: 35px 0px 200px; }
  .shop-item .custom-product .buy-button {
    margin: 0 auto;
    display: block;
    width: 30%;
    padding: 10px;
    font-size: 20px; }

.reports h2 {
  margin-bottom: 40px; }
.reports .report .daily-sell {
  border-bottom: 1px solid #283593; }

body {
  font-family: "Open Sans", sans-serif; }

a {
  color: white; }

.box {
  box-shadow: 0px 0px 12px 1px rgba(50, 50, 50, 0.75); }
  .box .title {
    background-color: #2c3e50;
    color: #ffffff;
    font-size: 22px; }

.abm .input-group {
  margin: 15px 0px; }
.abm .custom {
  line-height: 43px;
  height: 43px;
  font-size: 18px; }
  .abm .custom input {
    margin-left: 10px; }
.abm .btn {
  border-radius: 0px;
  background-color: #2c3e50;
  color: #ffffff;
  padding: 15px 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border-color: #2c3e50;
  transition: 0.2s all; }
  .abm .btn:hover {
    background-color: #ffffff;
    color: #2c3e50; }

.table {
  table-layout: fixed; }
  .table thead {
    background: #2c3e50;
    color: #ffffff;
    font-weight: bold; }
  .table tbody tr.active {
    color: white; }
    .table tbody tr.active td {
      background-color: #2b81af; }
  .table tbody tr:nth-child(even) {
    background-color: #dddddd; }

.w30 {
  width: 30%; }

.w10 {
  width: 10%; }

.w70 {
  width: 70%; }

.w40 {
  width: 40%; }

.w20 {
  width: 20%; }

.w100 {
  width: 100%; }

.w50p {
  width: 50px; }

.w50 {
  width: 50%; }

.w60 {
  width: 60%; }

.m15 {
  margin: 15px 0px; }

.search-list {
  position: absolute;
  z-index: 2;
  top: 54px;
  left: 0px;
  background-color: white;
  width: 100%;
  border: 1px solid #ccc;
  border-width: 0px 1px 1px 1px; }
  .search-list .search-item {
    padding: 15px 10px;
    overflow: auto;
    line-height: 25px; }
    .search-list .search-item img {
      float: left; }
    .search-list .search-item span {
      float: left;
      padding-left: 10px; }
    .search-list .search-item:hover {
      background-color: #2b81af;
      color: white; }

search-flavour md-input-container > md-select {
  height: 55.45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.error {
  margin: 10px 0px;
  padding: 10px;
  background-color: #F44336;
  border-radius: 3px;
  text-align: center; }
  .error p {
    margin: 0px;
    color: white;
    font-size: 20px; }

.md-sidenav-left md-list-item {
  cursor: pointer;
  transition: 0.2s background-color linear;
  background-color: white; }
  .md-sidenav-left md-list-item:hover {
    background-color: #E0E0E0; }

table.md-table {
  margin-bottom: 20px; }
  table.md-table th.actions {
    text-align: right; }
  table.md-table .md-body td.actions {
    text-align: right; }
    table.md-table .md-body td.actions i {
      font-size: 16px;
      padding: 0px 5px; }
  table.md-table .md-body td.md-cell {
    padding: 10px 20px; }

.abm-form {
  width: 80%;
  padding-left: 24px; }

md-toast {
  position: fixed; }
  md-toast.md-error-toast-theme {
    background-color: transparent; }
    md-toast.md-error-toast-theme .md-toast-content {
      background-color: #f44336; }
  md-toast.md-success-toast-theme {
    background-color: transparent; }
    md-toast.md-success-toast-theme .md-toast-content {
      background-color: #4CAF50; }

md-input-container {
  padding: 0px 0px 20px; }

a.md-button.md-primary, button.md-button.md-primary {
  background-color: #26A65B;
  color: white; }
  a.md-button.md-primary:hover, button.md-button.md-primary:hover {
    background-color: #26A65B;
    color: white; }
