
//Components
@import '../components/footer/footer'
@import '../components/header/header'
@import '../components/slider/slider'
@import '../components/backend-slider/slider'
@import '../components/admin-menu/admin.menu'
@import 'variables'

//Pages
@import 'home/home'
@import 'login/login'
@import 'shop/shop'
@import 'checkout/checkout'
@import 'shop/item/shop.item'
@import 'admin/reports/reports' 

body
  font-family: 'Open Sans', sans-serif

a
  color: white

.box
  box-shadow: 0px 0px 12px 1px rgba(50, 50, 50, 0.75)
  .title
    background-color: $color-primary
    color: #ffffff
    font-size: 22px

.abm
  .input-group
    margin: 15px 0px
  .custom
    line-height: 43px
    height: 43px
    font-size: 18px
    input
      margin-left: 10px

  .btn
    border-radius: 0px
    background-color: $color-primary
    color: #ffffff
    padding: 15px 25px
    text-transform: uppercase
    font-weight: bold
    font-size: 16px
    border-color: $color-primary
    transition: 0.2s all
    &:hover
      background-color: #ffffff
      color: $color-primary


.table
  table-layout: fixed
  thead
    background: $color-primary
    color: #ffffff
    font-weight: bold
  tbody
    tr
      &.active
        td
          background-color: #2b81af
        color: white
      &:nth-child(even)
        background-color: #dddddd

.w30
  width: 30%
.w10
  width: 10%
.w70
  width: 70%
.w40
  width: 40%
.w20
  width: 20%
.w100
  width: 100%

.w50p
  width: 50px

.w50
  width: 50%

.w60
  width: 60%

.m15
  margin: 15px 0px

.search-list
  position: absolute
  z-index: 2
  top: 54px
  left: 0px
  background-color: white
  width: 100%
  border: 1px solid #ccc
  border-width: 0px 01px 1px 1px
  .search-item
    padding: 15px 10px
    overflow: auto
    line-height: 25px
    img
      float: left
    span
      float: left
      padding-left: 10px
    &:hover
      background-color: #2b81af
      color: white

search-flavour
  md-input-container > md-select
    height: 55.45px
    border-bottom: 1px solid rgba(0,0,0,0.12)

.error
  margin: 10px 0px
  padding: 10px
  background-color: #F44336
  border-radius: 3px
  text-align: center
  p
    margin: 0px
    color: white
    font-size: 20px

.md-sidenav-left
  md-list-item
    cursor: pointer
    transition: 0.2s background-color linear
    background-color: white
    &:hover
      background-color: #E0E0E0


table.md-table
  margin-bottom: 20px
  th
    &.actions
      text-align: right
  .md-body
    td
      &.actions
        text-align: right
        i
          font-size: 16px
          padding: 0px 5px
      &.md-cell
        padding: 10px 20px

.abm-form
  width: 80%
  padding-left: 24px

md-toast
  position: fixed
  &.md-error-toast-theme
    background-color: transparent
    .md-toast-content
      background-color: #f44336
  &.md-success-toast-theme
    background-color: transparent
    .md-toast-content
      background-color: #4CAF50

md-input-container
  padding: 0px 0px 20px

a.md-button.md-primary, button.md-button.md-primary
  background-color: #26A65B
  color: white
  &:hover
    background-color: #26A65B
    color: white
