<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>{{action}} categoría</span>
  </div>
</md-toolbar>
<form name="editCategoryForm" class="abm-form">
    <md-input-container layout="column">
      <label>Nombre</label>
      <input name="name" ng-model="category.name" required md-maxlength="{{maxlenght.name}}" ng-maxlength="{{maxlenght.name}}" ng-minlength="{{minlenght.name}}">
      <div ng-messages="editCategoryForm.name.$error" ng-show="editCategoryForm.name.$dirty">
        <div ng-show="editCategoryForm.name.$error.required" ng-message="required">{{messages.required}}</div>
        <div ng-show="editCategoryForm.name.$error.maxlength" ng-message="md-maxlength">{{messages.tooLong}}</div>
        <div ng-show="editCategoryForm.name.$error.minlength" ng-message="minlength">{{messages.tooShort}}</div>
      </div>
    </md-input-container>
    <md-input-container layout="column">
      <label>Descripcion</label>
      <textarea name="description" ng-model="category.description" required
      md-maxlength="{{maxlenght.description}}"
      ng-maxlength="{{maxlenght.description}}"
      ng-minlength="{{minlenght.description}}"></textarea>
      <div ng-messages="editCategoryForm.description.$error" ng-show="editCategoryForm.description.$dirty">
          <div ng-show="editCategoryForm.description.$error.required" ng-message="required">{{messages.required}}</div>
          <div ng-show="editCategoryForm.description.$error.maxlength" ng-message="md-maxlength">{{messages.tooLong}}</div>
          <div ng-show="editCategoryForm.description.$error.minlength" ng-message="minlength">{{messages.tooShort}}</div>
      </div>
    </md-input-container>
    <md-input-container layout="column">
        <file-upload image-path="category.image"></file-upload>
    </md-input-container>
    <div class="abm-action" layout="column" layout-align="center end">
        <md-button ng-click="saveCategory()" class="table-action">{{action}}</md-button>
    </div>
</form>
