<div class="container">
	<div class="login" flex-xs flex-gt-xs="50" layout="column">
		<form name="loginForm">
			<md-card>
				<md-card-content>
					  <md-card-title-text>
					    <span class="md-headline">Ingresar</span>
					  </md-card-title-text>
					<div layout="column" ng-cloak>
					  <md-content layout-padding>
					      <md-input-container class="md-block">
					        <label>Usuario</label>
					        <input required md-no-asterisk name="Usuario" ng-model="credentials.username">
					        <div ng-messages="loginForm.credentials.username.$error">
					          <div ng-message="required">Campo requerido.</div>
					        </div>
					      </md-input-container>
					      <md-input-container class="md-block">
					        <label>Contraseña</label>
					        <input required name="clientName" type="password" ng-model="credentials.password">
					        <div ng-messages="loginForm.credentials.password.$error">
					          <div ng-message="required">Campo requerido.</div>
					        </div>
					      </md-input-container>
					  </md-content>
					</div>
					<div layout="column" class="invalid-login" ng-if="error">
						{{error}}
					</div>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
				  <md-button class="md-raised" ng-disabled="loginForm.$invalid" ng-click="login(credentials)">Login</md-button>
				</md-card-actions>
			</md-card>
		</form>
	</div>
</div>
